.top-box-container,
.top-box,
.top-box-top-row,
.search-bar-div,
.history-expense-boxes-div,
.history-expense-boxes,
.expense-history-heading-row,
.history-expense-profile-name-row {
    display: flex;
}

.top-box-container,
.top-box-top-row,
.search-bar-div,
.expense-history-heading-row,
.history-expense-boxes,
.history-expense-profile-name-row {
    flex-direction: row;
}

.expense-history-heading-row {
    width: 85%;
    padding-left: 45px;
    color: green;
    justify-content: space-between;
}

.top-box,
.history-expense-boxes-div {
    flex-direction: column;
}

::-webkit-scrollbar {
    background: rgb(9, 131, 119);
}

::-webkit-scrollbar-button {
    overflow-y: scroll;
    height: 20rem;
    background: rgb(3, 184, 166);
}

.top-bar-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 3.5rem;
    box-shadow: .2px .2px 6px .2px lightgray;
    position: fixed;
    padding-right: 20px;
    z-index: +1;
    background: white;
}

.logo-div h3 {
    margin-top: 3px;
    margin-left: 10px;
}

.search-bar-div {
    justify-content: center;
    align-items: center;
}

.search-bar-div input {
    width: 100%;
    border: none;
    box-shadow: .2px .2px 4px .2px lightgray;
    padding: 5px 472px 5px 7px;
    outline: none;
}

.search-bar-div input:hover {
    transition: .4s;
    transform: translateX(-2px);
    box-shadow: .2px .2px 3px .1px rgb(0, 184, 122);
}

.search-bar-div input:focus {
    transition: .4s;
    transform: translateX(-2px);
    box-shadow: .2px .2px 3px .1px green;
}

.search-bar-div input::placeholder {
    font-family: Montserrat;
}

.profile-icon-div ion-icon {
    border: 1px solid black;
    border-radius: 200px;
    font-size: 25px;
}

.logo-div .icon {
    font-size: 1.1rem;
    color: white;
    background: green;
    padding: 5px 8px 5px 8px;
    margin-top: 10px;
    margin-left: 18px;
    border-radius: 200px;
}

.top-box-container {
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.top-box {
    padding: 10px 2px 2px 12px;
    width: 18rem;
    height: 6rem;
    box-shadow: .2px .2px 6px .2px rgb(232, 232, 232);
    margin-left: 12px;
}

.top-box:hover {
    background: linear-gradient(to left, rgb(193, 253, 237), rgb(168, 246, 204));
    box-shadow: .2px .2px 12px .2px rgb(177, 255, 234);
    cursor: pointer;
    transform: translateY(3px);
    transition: .2s;
}

.top-box-top-row img {
    margin-top: 0px;
    width: 3rem;
    height: 3rem;
}

.top-box-top-row h3 {
    color: rgb(0, 56, 50);
    margin-top: -1px;
}

.top-box p {
    margin-top: 5px;
}

.dashboard {
    padding-top: 50px;
    padding-left: 30px;
}

.history-expense-boxes-div {
    gap: 20px;
}

.history-expense-profile-name-row {
    margin-left: 20px;
    gap: 20px;
}

.amount-div p {
    font-size: .9rem;
    padding: 6px 15px 6px 15px;
    background: rgb(0, 72, 0);
    border-radius: 8px;
    box-shadow: .2px .2px 8px .2px rgb(183, 183, 183);
    color: white;
    margin-left: -50px;
}

.history-expense-profile-name-row img {
    width: 2rem;
    height: 2rem;
    margin: 10px 2px 2px 2px;
}

.history-expense-boxes {
    justify-content: space-between;
    border-bottom: 3px solid transparent;
    margin-left: 15px;
    padding-right: 200px;
    width: 82%;
    height: 8vh;
    box-shadow: .2px .2px 6px .2px lightgray;
}

.history-expense-boxes:hover {
    background: rgb(222, 255, 241);
    transition: .2s;
    box-shadow: .2px .2px 5px .2px rgb(103, 255, 191);
}