.dashboard {
    margin-top: -10px;
    padding-left: 20px;
}

.dashboard h2 {
    color: black;
}

.box h3 {
    margin-left: 10px;
    margin-top: -1px;
    color: rgb(0, 128, 105);
}

form {
    display: flex;
    margin-top: -6px;
    margin-left: 20px;
    flex-direction: column;
    gap: 20px;
}

.label-input-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
    background: linear-gradient(to left, rgba(248, 255, 253, 0.811), rgb(250, 253, 251));
    border-radius: 4px;
    margin: 30px 0px 0px 10px;
    width: 98%;
    height: 43vh;
    border: 2px solid rgb(1, 117, 92);
    box-shadow: .2px .2px 2px .2px rgb(226, 226, 226);
}

.box form div {
    display: inline;
}

label {
    text-align: start;
}

form input {
    padding: 2px 2px 2px 5px;
    outline: none;
    border: none;
    box-shadow: .2px .2px 2px .2px lightgray;
    margin-left: 50px;
}

form button {
    font-size: .8rem;
    font-family: "Montserrat";
    background: white;
    padding: 5px 12px 5px 12px;
    border: none;
    box-shadow: .2px .2px 1px .2px lightgray;
    color: green;
    border: 2px solid green;
    border-radius: 4px;
}

form button:hover {
    transition: .2s;
    cursor: pointer;
    background: rgb(0, 128, 100);
    color: white;
}