<html>

<head>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/top-bar.css">
    <link rel="stylesheet" href="css/left-sidebar.css">


    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/left-sidebar-2.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
</head>

<body>

    <div class="heading-div">

        <div class="top-bar-row">

            <div class="logo-div">

                <ion-icon class="icon" name="wallet-outline"></ion-icon>
                <h3>Flaticon</h3>

            </div>

            <div class="search-bar-div">

                <input placeholder="Search" type="text" />
                <ion-icon name="search"></ion-icon>
            </div>

            <div class="profile-icon-div">
                <ion-icon name="person-outline"></ion-icon>

            </div>
        </div>

    </div>

    <div class="main-container">

        <div class="left-sidebar">

            <nav>


                <div class="left-sidebar-icon-div">

                    <a href="home">
                        <ion-icon name="home"></ion-icon>
                    </a>

                    <a href="saved-cards">
                        <ion-icon name="card-outline"></ion-icon>
                    </a>

                    <a href="#">
                        <ion-icon name="wallet"></ion-icon>
                    </a>

                    <a href="#">
                        <ion-icon name="cash-outline"></ion-icon>
                    </a>

                    <a href="profile">
                        <ion-icon name="person"></ion-icon>
                    </a>

                    <a href="support">
                        <ion-icon name="call-outline"></ion-icon>
                    </a>
                </div>

            </nav>
        </div>

        <div class="dashboard">

            <h3>Previous Expense</h3>


            <div class="top-box-container">

                <div class="top-box">

                    <div class="top-box-top-row">

                        <img src="images/dollar (1).png">

                        <h3>Yearly Expenses</h3>

                    </div>

                    <div>

                        <p>$233 Total Spend</p>

                    </div>

                </div>


                <div class="top-box">

                    <div class="top-box-top-row">

                        <img src="images/dollar (1).png">

                        <h3>Monthly Expenses</h3>

                    </div>

                    <div>

                        <p>$233 Total Spend</p>

                    </div>

                </div>


                <div class="top-box">

                    <div class="top-box-top-row">

                        <img src="images/dollar (1).png">

                        <h3>Day Expenses</h3>

                    </div>

                    <div>

                        <p>$233 Total Spend</p>

                    </div>

                </div>


                <div class="top-box">

                    <div class="top-box-top-row">

                        <img src="images/dollar (1).png">

                        <h3>Total Expenses</h3>

                    </div>

                    <div>

                        <p>$233 Total Spend</p>

                    </div>

                </div>


            </div>

            <div class="">

                <h3>History</h3>

                <div class="expense-history-heading-row">

                    <p>Name</p>

                    <p>Amount</p>

                    <p>Date</p>

                    <p>akldnboaksbd</p>

                </div>

                <div class="history-expense-boxes-div">

                    <div class="history-expense-boxes">

                        <div class="history-expense-profile-name-row">

                            <img src="images/user (4).png" />
                            <p>John Doe</p>

                        </div>

                        <div class="amount-div">

                            <p>+$30</p>

                        </div>

                        <div>

                            <p>4th July 2018</p>

                        </div>

                        <div>

                            <p>2</p>

                        </div>


                    </div>


                    <div class="history-expense-boxes-div">

                        <div class="history-expense-boxes">

                            <div class="history-expense-profile-name-row">

                                <img src="images/user (4).png" />
                                <p>John Doe</p>

                            </div>

                            <div class="amount-div">

                                <p style="background:rgb(145, 19, 0)">-$10</p>

                            </div>

                            <div>

                                <p>4th July 2018</p>

                            </div>

                            <div>

                                <p>2</p>

                            </div>


                        </div>


                        <div class="history-expense-boxes-div">

                            <div class="history-expense-boxes">

                                <div class="history-expense-profile-name-row">

                                    <img src="images/user (4).png" />
                                    <p>John Doe</p>

                                </div>

                                <div class="amount-div">


                                    <p style="background:rgb(145, 19, 0)">-$25</p>

                                </div>

                                <div>

                                    <p>4th July 2018</p>

                                </div>

                                <div>

                                    <p>2</p>

                                </div>


                            </div>

                            <div class="history-expense-boxes">

                                <div class="history-expense-profile-name-row">

                                    <img src="images/user (4).png" />
                                    <p>John Doe</p>

                                </div>

                                <div class="amount-div">

                                    <p>+$40</p>

                                </div>

                                <div>

                                    <p>4th July 2018</p>

                                </div>

                                <div>

                                    <p>2</p>

                                </div>


                            </div>


                            <div class="history-expense-boxes-div">

                                <div class="history-expense-boxes">

                                    <div class="history-expense-profile-name-row">

                                        <img src="images/user (4).png" />
                                        <p>John Doe</p>

                                    </div>

                                    <div class="amount-div">

                                        <p>+$17</p>

                                    </div>

                                    <div>

                                        <p>4th July 2018</p>

                                    </div>

                                    <div>

                                        <p>2</p>

                                    </div>


                                </div>

                            </div>



                            <div class="history-expense-boxes-div">

                                <div class="history-expense-boxes">

                                    <div class="history-expense-profile-name-row">

                                        <img src="images/user (4).png" />
                                        <p>John Doe</p>

                                    </div>

                                    <div class="amount-div">

                                        <p>+$100</p>

                                    </div>

                                    <div>

                                        <p>4th July 2018</p>

                                    </div>

                                    <div>

                                        <p>2</p>

                                    </div>


                                </div>

                            </div>

                            <br>
                        </div>

                    </div>
                    <div class="container">

                    </div>


                    <script src="js/canvas.js"></script>
</body>

</html>