<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/saved-cards.css" />
    <link rel="stylesheet" href="css/top-bar.css" />
    <link rel="stylesheet" href="css/left-sidebar.css" />


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital@1&display=swap" rel="stylesheet">

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>

<body>

    <div class="heading-div">

        <div class="top-bar-row">

            <div class="logo-div">

                <ion-icon class="icon" name="wallet-outline"></ion-icon>
                <h3>Flaticon</h3>

            </div>

            <div class="search-bar-div">

                <input class="search-bar" placeholder="Search" type="text" />
                <ion-icon name="search"></ion-icon>
            </div>

            <div class="profile-icon-div">
                <ion-icon name="person-outline"></ion-icon>

            </div>
        </div>

    </div>

    <div class="main-container">

        <div class="left-sidebar">

            <nav>

                <div class="left-sidebar-icon-div">

                    <a href="home">
                        <ion-icon id="left-sidebar-icon" name="home"></ion-icon>
                        <span class="span-link">Home</span>
                    </a>

                    <a href="saved-cards">
                        <ion-icon name="card-outline"></ion-icon>
                        <span class="span-link">Home</span>
                    </a>

                    <a href="#">
                        <ion-icon name="wallet"></ion-icon>
                        <span class="span-link">Home</span>
                    </a>

                    <a href="#">
                        <ion-icon name="cash-outline"></ion-icon>
                        <span class="span-link">Home</span>
                    </a>

                    <a href="profile">
                        <ion-icon name="person"></ion-icon>
                        <span class="span-link">Home</span>
                    </a>

                    <a href="support">
                        <ion-icon name="call-outline"></ion-icon>
                        <span class="span-link">Home</span>
                    </a>
                </div>

            </nav>
        </div>

        <div class="dashboard">

            <div class="add-card-box">

                <p>ADD CARD</p>

            </div>

            <br>
            <div class="create-save-card-container">

            </div>
        </div>

        <script src="js/saved-cards.js"></script>

        <script src="../js/search-bar.js"></script>

</body>

</html>