<!DOCTYPE html>
<html lang="en">

<head>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/css/top-bar.css">
    <link rel="stylesheet" href="/public/css/left-sidebar.css">
    <link rel="stylesheet" href="/public/css/sign-up.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="main-container">


        <div class="left-sidebar">

            <h3>Flaticon</h3>

            <h3>Flaticon</h3>

            <h3>Flaticon</h3>

            <h3>Flaticon</h3>

        </div>

        <div class="sign-up-form-container">
            <form>

                <div class="form-div">

                    <label>Username:</label>
                    <input placeholder="username" type="text">
                </div>

                <div class="form-div">

                    <label>Email Id:</label>
                    <input placeholder="username" type="text">
                </div>


                <div class="form-div">

                    <label>Password:</label>
                    <input placeholder="username" type="text">

                    <ion-icon name="eye-outline">
                    </ion-icon>

                </div>


                <div class="form-div">

                    <label>Re Check Password:</label>
                    <input placeholder="Re Check Password" type="text">
                </div>

                <div class="gender-row">
                    <h2></h2>

                    <div class="form-div">

                        <label>Male:</label>
                        <input placeholder="Re Check Password" type="radio">
                    </div>

                    <div class="form-div">
                        <label>female:</label>
                        <input placeholder="Re Check Password" type="radio">
                    </div>

                </div>

                <div>

                    <button>Sign Up</button>
                </div>

            </form>

        </div>

    </div>

</body>

</html>