body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
}
.line{
    width:25% ;
    height: .2rem;
}

body::-webkit-scrollbar{
    background: #3c3cf3;
}

body::-webkit-scrollbar-thumb{
    background: #001a4b;
    height: 3rem;
}

.border{
    border:1px solid black;
    background: black;
}