body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

header {
  margin-top: -20px;
  width: 100%;
  height: 7rem;
  background: linear-gradient(to left, #000e2d, #192554);
  color: white;
  text-align: center;
}
header h2 {
  text-align: center;
  padding: 20px 5px 0px 20px;
}
header span {
  margin: 10px;
  color: #7c7cfa;
}

.container, .question-box {
  box-shadow: 0.2px 0.2px 12px 0.2px lightgray;
}

.container {
  padding: 2px 2px 22px 22px;
  margin: -17px 0px 0px 15px;
  height: 100%;
  width: 96%;
}

.input-div {
  display: flex;
  flex-direction: row;
}
.input-div input {
  outline: none;
  border: none;
  padding: 0px 6px 0px 10px;
  font-family: "Montserrat";
  box-shadow: 0.2px 0.2px 12px 0.2px lightgray;
  margin: 20px 0px 0px 15px;
  width: 93%;
}
.input-div input:focus {
  transition: 0.2s;
  box-shadow: 0px 0px 1px 1px #0d0284;
}
.input-div ion-icon {
  color: white;
  background: #0b0046;
  box-shadow: 0.2px 0.2px 12px 0.2px linear-gradient(to left, #000e2d, #192554);
  margin-top: 21px;
  font-size: 1rem;
  padding: 10px 15px 10px 12px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.show-answer-div-button {
  cursor: pointer;
  margin-top: -5px;
  padding: 0px 2px 0px 2px;
  border: none;
  background: none;
  font-size: 1rem;
  width: 100%;
}

.question-box, .answer-box {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 12px 22px 2px 22px;
  width: 96%;
  box-shadow: 0.2px 0.2px 12px 0.2px lightgray;
}

.question-box {
  display: flex;
  flex-direction: row;
  font-family: "Montserrat";
  margin-top: 20px;
  width: 95%;
  height: 3.5rem;
  justify-content: space-between;
  border-left: 4px solid #08448d;
}
.question-box:hover {
  background: linear-gradient(to left, #011d3f, #01223b);
  color: white;
  transition: 0.2s;
  border-left: 4px solid #002b59;
}
.question-box ion-icon {
  padding: 2px 4px 2px 2px;
  font-size: 1.5rem;
  margin: 11px 0px 0px 10px;
}

.answer-box {
  display: none;
}

.show-answer-box {
  color: white;
  display: block;
  width: 96%;
  height: 10rem;
  transform: translateY(10px);
  background: linear-gradient(to left, #003a7e, #003a67);
  box-shadow: 0.2px 0.2px 12px 0.2px lightgray;
  animation: showAnswerBox 0.4s ease;
}
.show-answer-box p {
  line-height: 27px;
}

@keyframes showAnswerBox {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(10px);
    opacity: 1;
  }
}
body::-webkit-scrollbar {
  background: #3c3cf3;
}

body::-webkit-scrollbar-thumb {
  background: #001a4b;
  height: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7rem;
}
footer h2 {
  margin-top: 40px;
  text-align: center;
}
footer p {
  font-size: 0.8rem;
}

footer {
  padding: 2px 30px 32px 2px;
  color: white;
  background: linear-gradient(to left, #00051e, #170034);
}
footer .footer-div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
footer .footer-div table {
  color: white;
  margin: 12px 12px 12px 12px;
  padding: 2px 2px 2px 2px;
  border-collapse: collapse;
}
footer .footer-div table tr {
  text-align: center;
  margin-left: 30px;
}
footer .footer-div table td {
  font-size: 0.9rem;
  margin-top: 30px;
  margin-left: 20px;
}
footer .footer-div table td a {
  text-decoration: none;
}
footer .footer-div table td a:hover {
  transition: 0.2s;
  cursor: pointer;
  text-decoration: underline;
}
footer .footer-div h2 {
  margin-top: 10px;
  font-size: 1.5rem;
}
footer .footer-div .address-div {
  display: flex;
  flex-direction: row;
}
footer .footer-div .address-div address {
  margin-top: -30px;
}
footer .footer-div .address-div iframe {
  border-radius: 20px;
  margin-left: 30px;
}
footer .footer-div p {
  text-align: center;
  font-size: 0.7rem;
  padding-top: 20px;
}

/*# sourceMappingURL=faq-style.css.map */
