@import "variables";

@mixin flex($direction){
  display: flex;
  flex-direction:$direction;
}

@mixin justifyContent(){
  justify-content: center;
  align-items: center ;
}



.features-container,.features-img-heading-row{
@include flex(row);
  justify-content: space-around;
  margin-top: 30px;
}

.features-section{
  background-image:linear-gradient(to left, rgba(50, 6, 87, 0.75), rgba(31, 16, 121, 0.7)),url('pexels-pixabay-220201.jpg');
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  height:94vh;
  width: 100%;
  .line{
    background: $whiteColor;
  }

  .features-div{
    border-radius: 8px;
    padding:2px 12px 2px 18px;
    width: 18rem;
    height: 14rem;
    border:8px double #f3f3f3;
    flex-wrap: wrap;
  }

  img{
    margin-left: -42px;
    width: 5rem;
    height: 5rem;
  }

  p{

    color:$whiteColor;
    margin:10px 10px 0px -50px;
    font-size: 2.3rem;
  }

  span{
    color:$whiteColor;
    text-align: $textAlignCenter;
    line-height: 30px;
  }

}
