@import "variables";

@mixin flex($direction){
  display: flex;
  flex-direction: $direction;
}

@mixin centerAligned{
  align-items: center;
  justify-content: center;
}

.headings-container,.accessibility-div,.accessibility-icon-text-div{
  @include flex(column);
  @include justifyContent;
  gap:0px;
}

.feedback-section{
  background-image:linear-gradient(to left, rgba(22, 1, 38, 0.75), rgba(2, 0, 17, 0.7)),url('pexels-pixabay-41949.jpg');
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  height:73vh;
  clip-path: polygon(0% 0%,0% 100%,100% 100%,88% 0%);
}

.headings-container{
  .line{
    background:$whiteColor;
  }
}

.feedback-container{
  @include flex(row);
  @include justifyContent;
  gap:60px;

  .feedback-div{
    @include flex(column);
    align-items: center;
    width: 19rem;
    height: 20.5rem;
    box-shadow: .2px .2px 12px .2px #00072d;
    border:4px solid #3d0596;
    padding:25px 12px 5px 17px;
    font-size: 1rem;
    border-radius: 8px;
  }
  .feedback-div img{
    width: 5.3rem;
    height: auto;
    border-radius: 8px;
    box-shadow: .2px .2px 12px .2px black;
  }

  .feedback-div p{
    line-height: 30px;
  }
  .feedback-name-div{
    @include flex(row);
    margin: 5px 0px 0px 120px;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: .8rem;
  }

  .feedback-name-div p{
    margin-top: -5px;
  }
  .icons-container{
    margin-top: -15px;
  }

  ion-icon{
    color: white;
  }

}