@import "variables";

@mixin flexDirection($direction){
    display: flex;
    flex-direction: $direction;
    gap:40px;
}

@mixin justifyContent(){
    justify-content: center;
    align-items: center ;
}

nav,ul,.header-content,.button-container,.subscribe-div,.service-section{
    @include flexDirection(row);
}

h2,a,h1,button,p{
    color:$whiteColor;
}

.headings-container{
    @include flexDirection(column);
    @include justifyContent;
    gap:0px;
}

header {
    width: 100%;
    height: 77vh;
    background: $header-bg-color;
    clip-path: polygon(0% 0%,0% 100%,100% 100%,100% 0%);
    h2{
        padding:0px 5px 0px 20px;
    }
    span{
        color: #7c7cfa;
    }
    nav{
        margin-top: -10px;
        justify-content: space-between;
    }
    ul{
        padding:10px 25px 0px 0px;
    }
    li{
        list-style: none;
    }
    a{
        font-size: 1.05rem;
        border-radius: 4px;
        padding:5px 12px 5px 12px;
        font-family: 'Montserrat';
        text-decoration: $noTextUnderline;
        &:hover{
            background: #6f0fbd;
        }
    }

    img{
        margin: 20px 0px 0px 40px;
        width:17rem;
        height: auto;
    }
    .line{
        background:$whiteColor;
    }
}

.header-content{
    margin-top: 20px;
    justify-content: space-around;

    h1{
        margin-top: 30px;
    }
    h3{
        line-height: 35px;
    }
    .subscribe-div{
        margin-top: 50px;
        input{
            outline: none;
            width: 60%;
            padding:2px 15px 2px 15px;
            box-shadow: .2px .2px 4px .2px white;
            border: $noBorder;
            &:focus{
                transition: .2s;
                border:2px solid #0556bb;
                box-shadow: .2px .2px 4px .2px #0556bb;
            }
        }
        input::placeholder{
            font-family: 'Montserrat';
        }
        button{
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            margin-left: -40px;
            padding:6px 17px 6px 17px;
        }
    }

    .button-container{
        margin-top: 60px;
    }

}

button{
    box-shadow: .2px .2px 12px .2px #56009d;
    border-radius: 4px;
    font-size:1rem;
    background:$purpleColor;
    font-family: 'Montserrat';
    padding:7px 14px 7px 14px;
    border:none;

    &:hover{
        color:$blackColor;
        cursor: $cursorButton;
        transition:$transitionButton;
        background:$whiteColor;
    }
}


h3{
    color:black;
    text-align: $textAlignCenter;
}

.header-heading{
    color:$serviceSectionHeading;
    text-align: $textAlignCenter;

    .line{
        width: 5rem;
        height: 10rem;
        background: white;
    }
}

.service-section{
    justify-content: center;
    margin-top:-3px ;
    background: linear-gradient(to left, #001738, #170026);
    height: 23vh;

    .service-section-box{
        z-index:+1;
        width: 9.5rem;
        height: 8rem;
        background: linear-gradient(to left, #17003d, #200042);
        box-shadow: .2px .2px 12px .2px #09002c;
        border-radius: 8px;
        margin-top: -20px;

        &:hover{
            cursor: $cursorButton;
            background: #30046b;
        }

        ion-icon{
            margin:10px 0px 0px 43px;
            font-size: 4.3rem;
            color: #856aff;
        }
        p{
            margin: 5px;
            text-align: center;
        }
    }
    .service-heading-container{
        @include flexDirection(column);
        @include justifyContent;

    }
    .line{

    }
}
