body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

.line {
  background: black;
  width: 20%;
  height: 0.2rem;
}

nav, ul, .header-content, .button-container, .subscribe-div, .service-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.headings-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

h2, a, h1, button, p {
  color: white;
}

header {
  width: 100%;
  height: 77vh;
  background: linear-gradient(to left, #000e2d, #192554);
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}
header h2 {
  padding: 0px 5px 0px 20px;
}
header span {
  color: #7c7cfa;
}
header nav {
  margin-top: -10px;
  justify-content: space-between;
}
header ul {
  padding: 10px 25px 0px 0px;
}
header li {
  list-style: none;
}
header a {
  text-decoration: none;
}
header a:hover {
  background: black;
}
header img {
  margin: 20px 0px 0px 40px;
  width: 17rem;
  height: auto;
}
header .line {
  background: white;
}

.header-content {
  margin-top: 20px;
  justify-content: space-around;
}
.header-content h1 {
  margin-top: 30px;
}
.header-content h3 {
  line-height: 35px;
}
.header-content .subscribe-div {
  margin-top: 50px;
}
.header-content .subscribe-div input {
  width: 50%;
  padding: 2px 12px 2px 5px;
  box-shadow: 0.2px 0.2px 4px 0.2px white;
  border: none;
}
.header-content .subscribe-div input::placeholder {
  font-family: "Montserrat";
}
.header-content .subscribe-div button {
  padding: 4px 17px 4px 17px;
}
.header-content .button-container {
  margin-top: 60px;
}

button {
  box-shadow: 0.2px 0.2px 12px 0.2px #56009d;
  border-radius: 4px;
  font-size: 1rem;
  font-family: "Montserrat";
  padding: 7px 14px 7px 14px;
  border: none;
  background: linear-gradient(to left, #7a08d3, #8110b0);
}
button:hover {
  cursor: pointer;
  transition: 0.3s;
  background: white;
  color: black;
}

h3 {
  color: black;
  text-align: center;
}

.header-heading {
  color: white;
  text-align: center;
}
.header-heading .line {
  width: 5rem;
  height: 10rem;
  background: white;
}

.service-section {
  justify-content: center;
  margin-top: -50px;
}
.service-section .service-section-box {
  z-index: 1;
  width: 10rem;
  height: 10rem;
  background: linear-gradient(to left, #7a08d3, #8110b0);
  box-shadow: 0.2px 0.2px 12px 0.2px black;
  border-radius: 8px;
}
.service-section .service-section-box img {
  margin: 10px 0px 0px 30px;
  width: 6.2rem;
  height: auto;
}
.service-section .service-section-box p {
  margin: 5px;
  text-align: center;
}

.plans-div, h2 {
  text-align: center;
}

.plans-icon-text-row, .plans-container {
  display: flex;
  flex-direction: row;
}

.headings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plans-section h2 {
  color: black;
}

.plans-container {
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.plans-container .plans-div {
  width: 20rem;
  height: 25rem;
  background: linear-gradient(to left, #110148, #270056);
  box-shadow: 0.2px 0.2px 12px 0.2px black;
}
.plans-container h2 {
  color: white;
}
.plans-container .plans-icon-text-row ion-icon {
  color: white;
  margin: 0px 0px 0px 20px;
  font-size: 3rem;
}
.plans-container .plans-icon-text-row p {
  margin: 10px 0px 0px -10px;
}

.features-container, .features-img-heading-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.features-section .line {
  background: white;
}
.features-section .features-div {
  border-radius: 8px;
  padding: 2px 12px 2px 18px;
  width: 18rem;
  height: 14rem;
  border: 8px double #f3f3f3;
  flex-wrap: wrap;
}
.features-section img {
  margin-left: -42px;
  width: 5rem;
  height: 5rem;
}
.features-section p {
  color: white;
  margin: 10px 10px 0px -50px;
  font-size: 2.3rem;
}
.features-section span {
  color: white;
  text-align: center;
  line-height: 30px;
}

.features-section {
  background-image: linear-gradient(to left, rgba(88, 5, 157, 0.75), rgba(52, 41, 124, 0.7)), url("pexels-pixabay-220201.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 94vh;
}

.headings-container, .accessibility-div, .accessibility-icon-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.accessibility-section .headings-container h2 {
  color: black;
}
.accessibility-section .accessibility-div img {
  width: 25rem;
  height: auto;
}
.accessibility-section .accessibility-div p {
  margin-top: 20px;
  font-size: 1.1rem;
  text-align: center;
  line-height: 30px;
  color: black;
}

.accessibility-icon-text-div-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
  justify-content: space-around;
}
.accessibility-icon-text-div-container .accessibility-icon-text-div p {
  font-size: 1rem;
  margin-top: 10px;
  font-family: "Roboto";
  color: black;
}
.accessibility-icon-text-div-container .accessibility-icon-text-div ion-icon {
  font-size: 2rem;
}

.accessibility-icon-text-div:nth-child(1) ion-icon {
  color: #3197e0;
}

.accessibility-icon-text-div:nth-child(3) ion-icon {
  color: #9b9b9b;
}

.accessibility-icon-text-div:nth-child(4) ion-icon {
  color: #286b00;
}

.accessibility-icon-text-div:nth-child(5) ion-icon {
  color: #2b78de;
}

.feedback-section {
  background-image: linear-gradient(to left, rgba(88, 5, 157, 0.75), rgba(52, 41, 124, 0.7)), url("pexels-pixabay-220201.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 70vh;
}

.headings-container .line {
  background: white;
}

/*# sourceMappingURL=style.css.map */
