body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

.line {
  width: 25%;
  height: 0.2rem;
}

body::-webkit-scrollbar {
  background: #3c3cf3;
}

body::-webkit-scrollbar-thumb {
  background: #001a4b;
  height: 3rem;
}

.border {
  border: 1px solid black;
  background: black;
}

.create-account, .remove-create-account-icon-div {
  display: flex;
}

.create-account {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  z-index: 1;
  width: 100%;
  height: 44.6rem;
  background: white;
  color: white;
  position: fixed;
  top: 0%;
  animation: createAccount 0.5s ease-in-out;
}

.create-account-input {
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  padding: 7px 12px 7px 12px;
  width: 30%;
  box-shadow: 0.2px 0.2px 14px 0.2px lightgray;
}

.remove-create-account-icon-div {
  margin: 50px 0px 0px 10px;
  flex-direction: row;
  justify-content: flex-end;
}

@keyframes createAccount {
  0% {
    background: lightgray;
    opacity: 0;
    top: 100%;
  }
  100% {
    top: 0%;
    background: white;
    opacity: 1;
  }
}
.top-button {
  box-shadow: 0.2px 0.2px 4px 0.2px linear-gradient(to left, #7a08d3, #8110b0);
  position: fixed;
  left: 96%;
  top: 93%;
}

.nav-bar-button {
  position: fixed;
  left: 1%;
  top: 93%;
}

.show-nav-bar {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 50rem;
  z-index: 1;
  background: linear-gradient(to left, #001738, #170026);
  animation: showNavBar 0.3s ease-in-out;
}
@keyframes showNavBar {
  0% {
    background: #70a3ff;
    transform: scale(0.3) translateY(180px);
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 black;
    transform: translateY(0px);
    opacity: 1;
  }
}
.show-nav-bar .nav-bar {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.show-nav-bar ul {
  margin-left: -30px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.show-nav-bar li {
  list-style: none;
}
.show-nav-bar a {
  font-size: 1.3rem;
  text-decoration: none;
}
.show-nav-bar .button {
  border-radius: 4px;
  padding: 7px 14px 7px 14px;
}
.show-nav-bar .button:hover {
  box-shadow: 0.2px 0.2px 12px 0.2px #56009d;
  background: linear-gradient(to left, #7a08d3, #8110b0);
}

nav, ul, .header-content, .button-container, .subscribe-div, .service-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.headings-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

h2, a, h1, button, p {
  color: white;
}

header {
  width: 100%;
  height: 77vh;
  background: linear-gradient(to left, #000e2d, #192554);
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
}
header h2 {
  padding: 0px 5px 0px 20px;
}
header span {
  color: #7c7cfa;
}
header nav {
  margin-top: -10px;
  justify-content: space-between;
}
header ul {
  padding: 10px 25px 0px 0px;
}
header li {
  list-style: none;
}
header a {
  font-size: 1.05rem;
  border-radius: 4px;
  padding: 5px 12px 5px 12px;
  font-family: "Montserrat";
  text-decoration: none;
}
header a:hover {
  background: #6f0fbd;
}
header img {
  margin: 20px 0px 0px 40px;
  width: 17rem;
  height: auto;
}
header .line {
  background: white;
}

.header-content {
  margin-top: 20px;
  justify-content: space-around;
}
.header-content h1 {
  margin-top: 30px;
}
.header-content h3 {
  line-height: 35px;
}
.header-content .subscribe-div {
  margin-top: 50px;
}
.header-content .subscribe-div input {
  outline: none;
  width: 60%;
  padding: 2px 15px 2px 15px;
  box-shadow: 0.2px 0.2px 4px 0.2px white;
  border: none;
}
.header-content .subscribe-div input:focus {
  transition: 0.2s;
  border: 2px solid #0556bb;
  box-shadow: 0.2px 0.2px 4px 0.2px #0556bb;
}
.header-content .subscribe-div input::placeholder {
  font-family: "Montserrat";
}
.header-content .subscribe-div button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: -40px;
  padding: 6px 17px 6px 17px;
}
.header-content .button-container {
  margin-top: 60px;
}

button {
  box-shadow: 0.2px 0.2px 12px 0.2px #56009d;
  border-radius: 4px;
  font-size: 1rem;
  background: linear-gradient(to left, #7a08d3, #8110b0);
  font-family: "Montserrat";
  padding: 7px 14px 7px 14px;
  border: none;
}
button:hover {
  color: black;
  cursor: pointer;
  transition: 0.3s;
  background: white;
}

h3 {
  color: black;
  text-align: center;
}

.header-heading {
  color: white;
  text-align: center;
}
.header-heading .line {
  width: 5rem;
  height: 10rem;
  background: white;
}

.service-section {
  justify-content: center;
  margin-top: -50px;
  background: linear-gradient(to left, #001738, #170026);
  height: 28vh;
}
.service-section .service-section-box {
  z-index: 1;
  width: 9.5rem;
  height: 8rem;
  background: linear-gradient(to left, #17003d, #200042);
  box-shadow: 0.2px 0.2px 12px 0.2px #09002c;
  border-radius: 8px;
  margin-top: 20px;
}
.service-section .service-section-box:hover {
  cursor: pointer;
  background: #30046b;
}
.service-section .service-section-box ion-icon {
  margin: 10px 0px 0px 43px;
  font-size: 4.3rem;
  color: #856aff;
}
.service-section .service-section-box p {
  margin: 5px;
  text-align: center;
}

.plans-div, h2 {
  text-align: center;
}

.plans-icon-text-row, .plans-container {
  display: flex;
  flex-direction: row;
}

.headings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plans-section .headings-container h2 {
  color: black;
}
.plans-section .headings-container .line {
  background: black;
}

.plans-container {
  justify-content: space-around;
}
.plans-container .plans-div {
  width: 20rem;
  height: 25rem;
  background: linear-gradient(to left, #110148, #270056);
  box-shadow: 0.2px 0.2px 12px 0.2px black;
}
.plans-container h2 {
  color: white;
}
.plans-container .plans-icon-text-row ion-icon {
  color: white;
  margin: 0px 0px 0px 20px;
  font-size: 3rem;
}
.plans-container .plans-icon-text-row p {
  margin: 10px 0px 0px -10px;
}

.features-container, .features-img-heading-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 30px;
}

.features-section {
  background-image: linear-gradient(to left, rgba(50, 6, 87, 0.75), rgba(31, 16, 121, 0.7)), url("pexels-pixabay-220201.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 94vh;
}
.features-section .line {
  background: white;
}
.features-section .features-div {
  border-radius: 8px;
  padding: 2px 12px 2px 18px;
  width: 18rem;
  height: 14rem;
  border: 8px double #f3f3f3;
  flex-wrap: wrap;
}
.features-section img {
  margin-left: -42px;
  width: 5rem;
  height: 5rem;
}
.features-section p {
  color: white;
  margin: 10px 10px 0px -50px;
  font-size: 2.3rem;
}
.features-section span {
  color: white;
  text-align: center;
  line-height: 30px;
}

.headings-container, .accessibility-div, .accessibility-icon-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.accessibility-section .headings-container h2 {
  margin-top: 30px;
  color: black;
}
.accessibility-section .headings-container .line {
  background: black;
}
.accessibility-section .accessibility-div img {
  width: 25rem;
  height: auto;
  margin-top: -40px;
}
.accessibility-section .accessibility-div p {
  margin-top: -45px;
  font-size: 1.1rem;
  text-align: center;
  line-height: 30px;
  color: black;
}

.accessibility-icon-text-div-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
  justify-content: space-around;
}
.accessibility-icon-text-div-container .accessibility-icon-text-div p {
  font-size: 1rem;
  margin-top: 10px;
  font-family: "Roboto";
  color: black;
}
.accessibility-icon-text-div-container .accessibility-icon-text-div ion-icon {
  font-size: 2.8rem;
}

.accessibility-icon-text-div:nth-child(1) ion-icon {
  color: #3197e0;
}

.accessibility-icon-text-div:nth-child(2) ion-icon {
  color: #575757;
}

.accessibility-icon-text-div:nth-child(3) ion-icon {
  color: #2e9804;
}

.accessibility-icon-text-div:nth-child(4) ion-icon {
  color: #0752b4;
}

.headings-container, .accessibility-div, .accessibility-icon-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.feedback-section {
  background-image: linear-gradient(to left, rgba(22, 1, 38, 0.75), rgba(2, 0, 17, 0.7)), url("pexels-pixabay-41949.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 72vh;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 88% 0%);
}

.headings-container .line {
  background: white;
}

.feedback-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.feedback-container .feedback-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 19rem;
  height: 20.5rem;
  box-shadow: 0.2px 0.2px 12px 0.2px #00072d;
  border: 4px solid #3d0596;
  padding: 25px 12px 5px 17px;
  font-size: 1rem;
  border-radius: 8px;
}
.feedback-container .feedback-div img {
  width: 5.3rem;
  height: auto;
  border-radius: 8px;
  box-shadow: 0.2px 0.2px 12px 0.2px black;
}
.feedback-container .feedback-div p {
  line-height: 30px;
}
.feedback-container .feedback-name-div {
  display: flex;
  flex-direction: row;
  margin: 5px 0px 0px 120px;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 0.8rem;
}
.feedback-container .feedback-name-div p {
  margin-top: -5px;
}
.feedback-container .icons-container {
  margin-top: -15px;
}
.feedback-container ion-icon {
  color: white;
}

footer {
  margin-top: 30px;
  height: 12rem;
  background: #00051f;
}

table {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  margin: 12px 12px 12px 12px;
}
@media screen and (max-width: 704px) {
  nav, .plans-container, .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  body {
    overflow-x: hidden;
  }

  .header {
    height: 80vh;
  }

  nav h2 {
    font-size: 2rem;
    text-align: center;
    line-height: 50px;
  }
  nav .nav-bar-list {
    visibility: hidden;
  }

  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content h1 {
    margin-top: -5px;
    font-size: 1.5rem;
  }

  .header-img-div img {
    visibility: hidden;
  }

  .service-section {
    height: 25vh;
    gap: 20px;
  }
  .service-section .service-section-box {
    width: 7rem;
    height: 7rem;
    padding: 2px 5px 2px 2px;
  }
  .service-section .service-section-box ion-icon {
    margin-left: 35px;
    font-size: 3rem;
  }
  .service-section .service-section-box p {
    font-size: 0.9rem;
  }

  .plans-section .plans-div {
    height: 100%;
    padding-bottom: 23px;
  }
  .plans-section .plans-div h2 {
    font-size: 1.3rem;
  }
  .plans-section .plans-div ion-icon {
    font-size: 2rem;
  }
  .plans-section .plans-div p {
    margin-top: 5px;
    font-size: 0.9rem;
  }
  .plans-section .plans-div button {
    padding: 7px 14px 7px 14px;
    font-size: 0.8rem;
  }

  .features-section {
    height: 100%;
    padding-bottom: 40px;
  }

  .features-container .features-div {
    border-radius: 8px;
    padding: 2px 12px 2px 18px;
    width: 14rem;
    height: 9rem;
    border: 10px double #f3f3f3;
    flex-wrap: wrap;
  }
  .features-container .features-div .features-img-heading-row {
    margin-top: 7px;
  }
  .features-container .features-div img {
    width: 3.2rem;
    height: auto;
  }
  .features-container .features-div p {
    margin-left: -60px;
    font-size: 1.7rem;
  }
  .features-container .features-div span {
    margin-top: -60px;
    font-size: 0.9rem;
  }

  .accessibility-div img {
    width: 2rem;
    height: auto;
  }
  .accessibility-div p {
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
