@import "variables";

@mixin flexDirection($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin centerAligned {
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 704px) {

  html {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  nav, .plans-container, .features-container, .feedback-container, .footer-div {
    @include flexDirection(column);
    @include centerAligned;
    gap: 30px;
  }


  .nav-bar-button, .top-button {
    padding: 5px 10px 4px 10px;
    font-size: 1.1rem;
    z-index: +1;
  }

  .top-button, .nav-bar-button {
    position: fixed;
  }

  .top-button {
    left: 88%;
  }
  .nav-bar-button {
    left: 2%;
  }

  .header {
    height: 70vh;

    .headings-container {
      visibility: hidden;
    }
  }

  nav {
    h2 {
      font-size: 2rem;
      text-align: $textAlignCenter;
      line-height: 50px;
    }

    .nav-bar-list {
      visibility: hidden;
    }
  }

  .header-content {
    @include flexDirection(column);
    @include centerAligned;

    h1 {
      margin-top: -85px;
      font-size: 1.5rem;
    }
  }


  .header-img-div {
    img {
      visibility: hidden;
    }
  }


  .contact-us-div {
    @include flexDirection(column);
    @include centerAligned;
    width: 100%;
    height: 120rem;
    position: fixed;
    top: 100%;
    padding: 42px 2px 2px 22px;
    gap: 40px;
    font-size: .9rem;

    .contact-us-heading-div {
      margin-top: -30px;
    }

    form {
      margin: 30px 0px 0px 35px;

      input {
        width: 90%;
      }

      textarea {
        width: 90%;
      }

      button {
        margin-left: -20px;
      }
    }

    .contact-us-column-container {
      @include centerAligned;

      .contact-us-column {
        @include flexDirection(row);
        @include centerAligned;
        flex-wrap: wrap;

        ion-icon {
          font-size: 1.5rem;
        }

        p {
          white-space: pre;
          font-size: .75rem;
        }
      }
    }

  }


  .remove-contact-us-icon {
    font-size: 1.5rem;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 114%;
    height: 3vh;
    margin: 10px 0px 0px 10px;
    padding: 20px 0px 46px 0px;

    &:hover {
      color: black;
    }
  }

  .service-section {
    height: 23vh;
    gap: 20px;

    .service-section-box {
      width: 6.5rem;
      height: 6.5rem;
      padding: 2px 5px 2px 2px;

      ion-icon {
        margin-left: 30px;
        font-size: 3rem;
      }

      p {
        font-size: .9rem;
      }
    }
  }

  .plans-section {
    .plans-div {
      height: 100%;
      padding-bottom: 23px;

      h2 {
        font-size: 1.3rem;
      }

      ion-icon {
        font-size: 2rem;
      }

      p {
        margin-top: 5px;
        font-size: .9rem;
      }

      button {
        padding: 7px 14px 7px 14px;
        font-size: .8rem;
      }
    }
  }

  .features-section {
    height: 100%;
    padding-bottom: 40px;
  }
  .features-container {

    .features-div {
      border-radius: 8px;
      padding: 2px 12px 2px 18px;
      width: 14rem;
      height: 9rem;
      border: 10px double #f3f3f3;
      flex-wrap: wrap;

      .features-img-heading-row {
        margin-top: 7px;
      }

      img {
        width: 3.2rem;
        height: auto;
      }

      p {
        margin-left: -60px;
        font-size: 1.4rem;
      }

      span {
        margin-top: -60px;
        font-size: .9rem;
      }
    }
  }

  .accessibility-section {
    padding: 2px 20px 2px 20px;

    .accessibility-div {
      img {
        width: 15rem;
        height: auto;
      }

      p {
        margin-left: -2px;
        font-size: .85rem;
      }

    }

    .accessibility-icon-text-div-container {
      gap: 0px;

      .accessibility-icon-text-div {

        ion-icon {
          font-size: 2.3rem;
        }

        p {
          text-align: $textAlignCenter;
          margin-left: -1px;
          font-size: .85rem;
        }
      }

    }
  }
  .feedback-section {
    padding-bottom: 30px;
    height: 100%;
    clip-path: none;

    .feedback-div {
      height: 18rem;

      img {
        width: 4.2rem;
        height: auto;

      }

      p {
        margin: -2px 0px 0px 22px;
        line-height: 30px;
        font-size: .95rem;
      }

      .icons-container {
        margin-top: 10px;
      }

      .feedback-name-div {
        margin-top: -1px;
      }
    }

  }


  footer {


    .footer-div {
      gap: 10px;
      padding: 2px 12px 2px 22px;
    }

    table {
      color: $whiteColor;
      padding: 2px 2px 2px 2px;
      border-collapse: collapse;

      tr {
        text-align: $textAlignCenter;
        margin-left: 30px;
      }

      td {
        font-size: .7rem;
        margin-top: 30px;
        margin-left: 20px;

        a {
          text-decoration: $noTextUnderline;

          &:hover {
            transition: .2s;
            cursor: $cursorButton;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .address-div {
    margin-top: 40px;

    address {
      font-size: .8rem;
    }

    iframe {
      width: 200px;
      height: 150px;
    }
  }
  p {
    margin-left: 20px;
    text-align: center;
    font-size: .8rem;
  }
}

