$header-bg-color: linear-gradient(to left,#000e2d,#192554);
$noTextUnderline:none;
$whiteColor:white;
$backgroundWhiteColor:white;
$noBoxShadow:none;
$noBorder:none;
$purpleColor: linear-gradient(to left, #7a08d3, #8110b0);
$transitionButton:.3s;
$cursorButton:pointer;
$textAlignCenter:center;
$serviceSectionHeading:white;
$justifyContent:center;
$serviceBoxColor: linear-gradient(to left, #110148, #270056);
$blackColor:black;